table {
 
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


th {

    color: green;
}

td {
    color: rgb(95, 175, 95);
    background-color: bisque;
}
